<!--The Submit Message Page Extended from base.html-->
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}
    <!-- Submit your message and handle here! It will be added to the message bank! -->
    <br>
    <form method="post">
      <!-- Adding the message text box -->
      <label for="message">Your message:</label>
      <input type="text" name="message" id="message">
      <br>
      <!-- Adding the handle text box -->
      <label for="handle">Your name or handle:</label>
      <input type="text" name="handle" id="handle">
      <br>
      <!-- Adding the submit button -->
      <input type="submit" value="Submit message">
    </form>

    <!-- Printing the thanks statement -->
    {% if thanks %}
      <b>Thank you for submitting a message!</b>
    {% endif %}

{% endblock %}